<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div  class="container">
    <div class="jumbotron">
        {% if cus_list %}
        <table class="table">
            <thead class="thead-dark">
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            </thead>
            {% for u in cus_list %}
                <tr>
                    <td>{{ u.first_name }}</td>
                    <td>{{ u.last_name }}</td>
                    <td>{{ u.email }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>NO RECORDS FOUND</p>
        {% endif %}
    </div>
</div>
</body>
</html>